<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280031768230-trufbi31fnsi9nau0cdroej6c0s5clnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280031768230-trufbi31fnsi9nau0cdroej6c0s5clnm</string>
	<key>API_KEY</key>
	<string>AIzaSyB-YC3UuCrQmlmEcGp5rCIoVvhubS7ME_o</string>
	<key>GCM_SENDER_ID</key>
	<string>280031768230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nb.ExercisePostureGuide</string>
	<key>PROJECT_ID</key>
	<string>exercisepostureguide</string>
	<key>STORAGE_BUCKET</key>
	<string>exercisepostureguide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280031768230:ios:8780685fa4769b12770e67</string>
</dict>
</plist>